In [1]:
import numpy as np
import pandas as pd

In [2]:
resaleflat1 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
#resaleflat2 = pd.read_csv('resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')
resaleflat3 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')
resaleflat4 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')
resaleflat = pd.concat((resaleflat1,resaleflat3,resaleflat4), axis=0, sort=True)

resaleflat_l = resaleflat.copy()
resaleflatview = resaleflat1.copy()

In [3]:
resaleflat.head()

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town
0,406,Improved,2 ROOM,44.0,1979,2017-01,61 years 04 months,232000.0,10 TO 12,ANG MO KIO AVE 10,ANG MO KIO
1,108,New Generation,3 ROOM,67.0,1978,2017-01,60 years 07 months,250000.0,01 TO 03,ANG MO KIO AVE 4,ANG MO KIO
2,602,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,262000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO
3,465,New Generation,3 ROOM,68.0,1980,2017-01,62 years 01 month,265000.0,04 TO 06,ANG MO KIO AVE 10,ANG MO KIO
4,601,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,265000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO

In [4]:
resaleflat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139788 entries, 0 to 37152
Data columns (total 11 columns):
block                  139788 non-null object
flat_model             139788 non-null object
flat_type              139788 non-null object
floor_area_sqm         139788 non-null float64
lease_commence_date    139788 non-null int64
month                  139788 non-null object
remaining_lease        87585 non-null object
resale_price           139788 non-null float64
storey_range           139788 non-null object
street_name            139788 non-null object
town                   139788 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 12.8+ MB

In [5]:
resaleflat.isnull().sum()

#Remaining lease has a lot of null, need to fix

block                      0
flat_model                 0
flat_type                  0
floor_area_sqm             0
lease_commence_date        0
month                      0
remaining_lease        52203
resale_price               0
storey_range               0
street_name                0
town                       0
dtype: int64

# We had to convert categorical to numerical first to see correlations, now we redo the table using onehotencoding

In [6]:
resaleflat_l.head()

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town
0,406,Improved,2 ROOM,44.0,1979,2017-01,61 years 04 months,232000.0,10 TO 12,ANG MO KIO AVE 10,ANG MO KIO
1,108,New Generation,3 ROOM,67.0,1978,2017-01,60 years 07 months,250000.0,01 TO 03,ANG MO KIO AVE 4,ANG MO KIO
2,602,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,262000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO
3,465,New Generation,3 ROOM,68.0,1980,2017-01,62 years 01 month,265000.0,04 TO 06,ANG MO KIO AVE 10,ANG MO KIO
4,601,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,265000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO

In [7]:
#Convert first two char into integer for years left
resaleflat_l['remaining_lease_year'] = resaleflat_l['remaining_lease'].str.slice(stop=2).astype('float')
#Substring/slice the month out
resaleflat_l['remaining_lease_month'] = resaleflat_l['remaining_lease'].str.slice(start=9,stop=12)

replacemonth = {}
replacemonth[''] = 0
replacemonth['0 m'] = 0
resaleflat_l['remaining_lease_month'] = resaleflat_l['remaining_lease_month'].replace(replacemonth)

resaleflat_l['remaining_lease_month'] = resaleflat_l['remaining_lease_month'].astype('float') / 12
resaleflat_l['remaining_lease'] = resaleflat_l['remaining_lease_year'] + resaleflat_l['remaining_lease_month']
resaleflat_l = resaleflat_l.drop(['remaining_lease_year','remaining_lease_month'], axis=1)

resaleflat_l.month = resaleflat_l.month.apply(lambda x: float(x[0:4])+float(x[5:7])/12)
#Inpute missing values with remaining lease (take current year-month minus the lease start year)
resaleflat_l.remaining_lease[resaleflat_l.remaining_lease.isnull()] = resaleflat_l['month'] - resaleflat_l['lease_commence_date']

#Normalize the month, floor area and remaining lease (timeframe)
resaleflat_l.month = (resaleflat_l.month - resaleflat_l.month.mean()) / resaleflat_l.month.std()
resaleflat_l.floor_area_sqm = (resaleflat_l.floor_area_sqm - resaleflat_l.floor_area_sqm.mean()) / resaleflat_l.floor_area_sqm.std()
resaleflat_l.remaining_lease = (resaleflat_l.remaining_lease - resaleflat_l.remaining_lease.mean()) / resaleflat_l.remaining_lease.std()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
#Blocks in Singapore is rather irregular and does not impact on the pricing
#Lease commence date is highly correlated with remaining lease as remaining lease = current date - lease commence date

#Use town instead of street_name for random forest, both are highly correlated so just use one

resaleflat_l = resaleflat_l.drop(columns=['block','lease_commence_date','street_name','flat_type'])

In [9]:
resaleflat_l.head()

,flat_model,floor_area_sqm,month,remaining_lease,resale_price,storey_range,town
0,Improved,-2.163608,0.540959,0.710285,232000.0,10 TO 12,ANG MO KIO
1,New Generation,-1.225543,0.540959,0.681966,250000.0,01 TO 03,ANG MO KIO
2,New Generation,-1.225543,0.540959,0.751191,262000.0,01 TO 03,ANG MO KIO
3,New Generation,-1.184757,0.540959,0.738605,265000.0,04 TO 06,ANG MO KIO
4,New Generation,-1.225543,0.540959,0.751191,265000.0,01 TO 03,ANG MO KIO

In [10]:
all_flat_model = pd.get_dummies(resaleflat_l['flat_model'], prefix='flt')
all_towns = pd.get_dummies(resaleflat_l['town'], prefix='st')

resaleflat_l = resaleflat_l.drop(columns=['flat_model','town'])
resaleflat_l = pd.concat((resaleflat_l,all_flat_model,all_towns), axis=1)

In [11]:
resaleflat_l.storey_range.unique()

array(['10 TO 12', '01 TO 03', '04 TO 06', '07 TO 09', '13 TO 15',
       '19 TO 21', '22 TO 24', '16 TO 18', '34 TO 36', '28 TO 30',
       '37 TO 39', '49 TO 51', '25 TO 27', '40 TO 42', '31 TO 33',
       '46 TO 48', '43 TO 45', '06 TO 10', '01 TO 05', '11 TO 15',
       '16 TO 20', '21 TO 25', '26 TO 30', '36 TO 40', '31 TO 35'],
      dtype=object)

In [12]:
#Get average of storey range e.g. 01 to 03 would be 2
resaleflat_l.storey_range = resaleflat_l.storey_range.apply(lambda x: (float(x[0:2]) + float(x[7:9]) ) /2 )

resaleflat_l.storey_range = (resaleflat_l.storey_range - resaleflat_l.storey_range.mean()) / resaleflat_l.storey_range.std()

In [13]:
storey_resales = resaleflat_l[['storey_range','resale_price']]
storey_resales.corr()

#Storey range has correlation of 0.30 with resale price

              storey_range  resale_price
storey_range      1.000000      0.303071
resale_price      0.303071      1.000000

In [14]:
lease_resales = resaleflat_l[['remaining_lease','resale_price']]
lease_resales.corr()

#Remaining lease only has -0.067 correlation with resale price

                 remaining_lease  resale_price
remaining_lease           1.0000       -0.0671
resale_price             -0.0671        1.0000

In [15]:
month_resales = resaleflat_l[['month','resale_price']]
month_resales.corr()

#Year/month bought (month) has -0.07 correlation with resale price

                 month  resale_price
month         1.000000     -0.073186
resale_price -0.073186      1.000000

In [16]:
floor_resales = resaleflat_l[['floor_area_sqm','resale_price']]
floor_resales.corr()

#Floor area SQM has 0.667 correlation with resale price, very high!

                floor_area_sqm  resale_price
floor_area_sqm        1.000000      0.667404
resale_price          0.667404      1.000000

In [17]:
resaleflat_l.head()

,floor_area_sqm,month,remaining_lease,resale_price,storey_range,flt_2-room,flt_Adjoined flat,flt_Apartment,flt_DBSS,flt_Improved,...,st_PASIR RIS,st_PUNGGOL,st_QUEENSTOWN,st_SEMBAWANG,st_SENGKANG,st_SERANGOON,st_TAMPINES,st_TOA PAYOH,st_WOODLANDS,st_YISHUN
0,-2.163608,0.540959,0.710285,232000.0,-0.030180,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,-1.225543,0.540959,0.681966,250000.0,-1.370113,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1.225543,0.540959,0.751191,262000.0,-1.370113,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1.184757,0.540959,0.738605,265000.0,-0.365163,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1.225543,0.540959,0.751191,265000.0,-1.370113,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
resaleflat_l.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139788 entries, 0 to 37152
Data columns (total 52 columns):
floor_area_sqm                139788 non-null float64
month                         139788 non-null float64
remaining_lease               139788 non-null float64
resale_price                  139788 non-null float64
storey_range                  139788 non-null float64
flt_2-room                    139788 non-null uint8
flt_Adjoined flat             139788 non-null uint8
flt_Apartment                 139788 non-null uint8
flt_DBSS                      139788 non-null uint8
flt_Improved                  139788 non-null uint8
flt_Improved-Maisonette       139788 non-null uint8
flt_Maisonette                139788 non-null uint8
flt_Model A                   139788 non-null uint8
flt_Model A-Maisonette        139788 non-null uint8
flt_Model A2                  139788 non-null uint8
flt_Multi Generation          139788 non-null uint8
flt_New Generation            139788 non-null uint8
flt_Premium Apartment         139788 non-null uint8
flt_Premium Apartment Loft    139788 non-null uint8
flt_Premium Apartment.        139788 non-null uint8
flt_Premium Maisonette        139788 non-null uint8
flt_Simplified                139788 non-null uint8
flt_Standard                  139788 non-null uint8
flt_Terrace                   139788 non-null uint8
flt_Type S1                   139788 non-null uint8
flt_Type S2                   139788 non-null uint8
st_ANG MO KIO                 139788 non-null uint8
st_BEDOK                      139788 non-null uint8
st_BISHAN                     139788 non-null uint8
st_BUKIT BATOK                139788 non-null uint8
st_BUKIT MERAH                139788 non-null uint8
st_BUKIT PANJANG              139788 non-null uint8
st_BUKIT TIMAH                139788 non-null uint8
st_CENTRAL AREA               139788 non-null uint8
st_CHOA CHU KANG              139788 non-null uint8
st_CLEMENTI                   139788 non-null uint8
st_GEYLANG                    139788 non-null uint8
st_HOUGANG                    139788 non-null uint8
st_JURONG EAST                139788 non-null uint8
st_JURONG WEST                139788 non-null uint8
st_KALLANG/WHAMPOA            139788 non-null uint8
st_MARINE PARADE              139788 non-null uint8
st_PASIR RIS                  139788 non-null uint8
st_PUNGGOL                    139788 non-null uint8
st_QUEENSTOWN                 139788 non-null uint8
st_SEMBAWANG                  139788 non-null uint8
st_SENGKANG                   139788 non-null uint8
st_SERANGOON                  139788 non-null uint8
st_TAMPINES                   139788 non-null uint8
st_TOA PAYOH                  139788 non-null uint8
st_WOODLANDS                  139788 non-null uint8
st_YISHUN                     139788 non-null uint8
dtypes: float64(5), uint8(47)
memory usage: 12.7 MB

In [19]:
resaleflat_l.sum().index.values

array(['floor_area_sqm', 'month', 'remaining_lease', 'resale_price',
       'storey_range', 'flt_2-room', 'flt_Adjoined flat', 'flt_Apartment',
       'flt_DBSS', 'flt_Improved', 'flt_Improved-Maisonette',
       'flt_Maisonette', 'flt_Model A', 'flt_Model A-Maisonette',
       'flt_Model A2', 'flt_Multi Generation', 'flt_New Generation',
       'flt_Premium Apartment', 'flt_Premium Apartment Loft',
       'flt_Premium Apartment.', 'flt_Premium Maisonette',
       'flt_Simplified', 'flt_Standard', 'flt_Terrace', 'flt_Type S1',
       'flt_Type S2', 'st_ANG MO KIO', 'st_BEDOK', 'st_BISHAN',
       'st_BUKIT BATOK', 'st_BUKIT MERAH', 'st_BUKIT PANJANG',
       'st_BUKIT TIMAH', 'st_CENTRAL AREA', 'st_CHOA CHU KANG',
       'st_CLEMENTI', 'st_GEYLANG', 'st_HOUGANG', 'st_JURONG EAST',
       'st_JURONG WEST', 'st_KALLANG/WHAMPOA', 'st_MARINE PARADE',
       'st_PASIR RIS', 'st_PUNGGOL', 'st_QUEENSTOWN', 'st_SEMBAWANG',
       'st_SENGKANG', 'st_SERANGOON', 'st_TAMPINES', 'st_TOA PAYOH',
       'st_WOODLANDS', 'st_YISHUN'], dtype=object)

In [20]:
#from sklearn import svm
#from sklearn.svm import LinearSVR
from sklearn import svm
#there is also just svm or svc (with variable kernel and c) from sklearn
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [21]:
#Seperate datasets

X = resaleflat_l.drop('resale_price', axis=1)
Y = resaleflat_l['resale_price']

print(X.shape)
print(Y.shape)

(139788, 51)
(139788,)

In [22]:
#Since we use town names instead of street names, features not that numerous to be selected, just use all
#We also know that each town has its own house pricing so its good to keep all of them

#Choose top 300 features for model out of 561

# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import f_classif

# X = SelectKBest(f_classif, k=300).fit_transform(X, Y)

In [23]:
print(X.shape)

(139788, 51)

In [24]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Support Vector Regressor

In [25]:
SVR = svm.SVR(kernel='linear',cache_size=1000) #also try: RBF, poly, degree 3

SVR.fit(x_train,y_train)
pred_SVR = SVR.predict(x_test)

In [26]:
pred_SVR

array([383736.26242248, 461360.21975203, 408221.47172374, ...,
       328120.18185634, 405244.44950459, 385978.35334343])

In [27]:
y_test.head()

1040     308000.0
913      460000.0
13013    381000.0
40489    750000.0
10215    480000.0
Name: resale_price, dtype: float64

In [28]:
(y_test - pred_SVR).head()

1040     -75736.262422
913       -1360.219752
13013    -27221.471724
40489    228891.513524
10215     90135.009077
Name: resale_price, dtype: float64

In [33]:
#Let's see how our model performed

import math

math.sqrt(mean_squared_error(y_test, pred_SVR, multioutput='uniform_average'))

109812.10340007194

In [34]:
#Find RMSE for baseline model - i.e. take average house price

base = math.sqrt(((y_test - y_test.mean()) ** 2).mean())

base

#RMSE of $138415 for prediction of house price using average

138415.3257061527

In [35]:
SVR_diff = math.sqrt(((y_test - pred_SVR) ** 2).mean())
SVR_diff

#RMSE of $51868 using linear regression
#RMSE of $37557 using decision tree

109812.10340007201

In [36]:
def RMSE(actual,predict):
    base = math.sqrt(((y_test - y_test.mean()) ** 2).mean())
    x = math.sqrt(((actual - predict) ** 2).mean())
    return x/base

RMSE(y_test, pred_SVR)

0.7933522017149778

In [37]:
#Get R^2 of prediction in linear regression, 0.860
#Get R^2 for random forest, 0.926

SVR.score(x_test,y_test)

0.3705922840339879

In [38]:
y_test.values

array([308000., 460000., 381000., ..., 290000., 310000., 420000.])

In [39]:
pred_SVR

array([383736.26242248, 461360.21975203, 408221.47172374, ...,
       328120.18185634, 405244.44950459, 385978.35334343])

In [40]:
result1 = np.concatenate(([y_test.values], [pred_SVR],[y_test.values - pred_SVR])).T

In [41]:
result1_df = pd.DataFrame(result1, columns=['actual','predict','difference'])

In [42]:
result1_df

         actual        predict     difference
0      308000.0  383736.262422  -75736.262422
1      460000.0  461360.219752   -1360.219752
2      381000.0  408221.471724  -27221.471724
3      750000.0  521108.486476  228891.513524
4      480000.0  389864.990923   90135.009077
5      325000.0  374436.397738  -49436.397738
6      385000.0  383756.531819    1243.468181
7      360000.0  368878.028877   -8878.028877
8      350000.0  414899.544525  -64899.544525
9      337000.0  378341.798689  -41341.798689
10     388000.0  439393.679597  -51393.679597
11     350000.0  365819.712027  -15819.712027
12     280000.0  324903.638874  -44903.638874
13     360000.0  436535.481071  -76535.481071
14     300000.0  382683.218223  -82683.218223
15     365000.0  391991.718845  -26991.718845
16     320000.0  380619.891581  -60619.891581
17     358000.0  399699.567734  -41699.567734
18     423000.0  440403.606643  -17403.606643
19     345000.0  358063.266554  -13063.266554
20     365000.0  428852.517997  -63852.517997
21     475000.0  419091.616601   55908.383399
22     415500.0  411650.190464    3849.809536
23     326300.0  342096.324187  -15796.324187
24     451000.0  459035.602031   -8035.602031
25     720000.0  452041.518189  267958.481811
26     688888.0  482724.931392  206163.068608
27     318000.0  375292.047683  -57292.047683
28     332000.0  361030.862398  -29030.862398
29     640000.0  505376.546086  134623.453914
...         ...            ...            ...
27928  278000.0  352784.465321  -74784.465321
27929  220000.0  315589.454518  -95589.454518
27930  290000.0  352560.671101  -62560.671101
27931  350000.0  381414.377530  -31414.377530
27932  550000.0  468479.096075   81520.903925
27933  500000.0  429678.051318   70321.948682
27934  588000.0  436950.017230  151049.982770
27935  446000.0  349986.877470   96013.122530
27936  278000.0  349128.823436  -71128.823436
27937  403000.0  412603.824772   -9603.824772
27938  325000.0  348815.292141  -23815.292141
27939  602000.0  531643.420714   70356.579286
27940  348888.0  372635.173325  -23747.173325
27941  558000.0  480120.210624   77879.789376
27942  230000.0  323533.566335  -93533.566335
27943  595000.0  445404.948780  149595.051220
27944  350000.0  427615.225640  -77615.225640
27945  438000.0  415890.897565   22109.102435
27946  375000.0  436738.498304  -61738.498304
27947  570000.0  446482.117279  123517.882721
27948  450000.0  395609.327517   54390.672483
27949  535000.0  459807.305687   75192.694313
27950  280000.0  325602.183075  -45602.183075
27951  350000.0  384646.857452  -34646.857452
27952  505000.0  480810.885597   24189.114403
27953  380000.0  381601.800649   -1601.800649
27954  365000.0  377624.064426  -12624.064426
27955  290000.0  328120.181856  -38120.181856
27956  310000.0  405244.449505  -95244.449505
27957  420000.0  385978.353343   34021.646657

[27958 rows x 3 columns]

In [43]:
print(result1_df['difference'].mean())
print(result1_df['difference'].max())
print(result1_df['difference'].min())

28868.00032044327
650760.6648850718
-181197.553720425

In [44]:
result1_df[result1_df['difference'] > 100000]

          actual        predict     difference
3       750000.0  521108.486476  228891.513524
25      720000.0  452041.518189  267958.481811
26      688888.0  482724.931392  206163.068608
29      640000.0  505376.546086  134623.453914
36      800000.0  433661.392360  366338.607640
45      610000.0  509694.004686  100305.995314
48      638000.0  425336.160484  212663.839516
49      640000.0  494449.224571  145550.775429
68      710000.0  442642.472643  267357.527357
84      568000.0  413642.054498  154357.945502
87      702000.0  503720.386146  198279.613854
88      720000.0  430749.977621  289250.022379
92      710000.0  407468.852125  302531.147875
99      549000.0  426918.442759  122081.557241
103     818000.0  451377.633140  366622.366860
113     580000.0  422886.449476  157113.550524
122     850000.0  497852.061476  352147.938524
125     660000.0  554179.202483  105820.797517
128     888000.0  501685.511783  386314.488217
133     800000.0  449507.690304  350492.309696
135     628000.0  434532.627469  193467.372531
155    1000000.0  457504.934386  542495.065614
168     670000.0  428677.552471  241322.447529
176     698000.0  524524.940012  173475.059988
177     830000.0  502290.389624  327709.610376
180     620000.0  434638.692988  185361.307012
182     920000.0  497808.867388  422191.132612
187     910000.0  491001.209249  418998.790751
190     625000.0  485167.243899  139832.756101
194     890000.0  495707.024879  394292.975121
...          ...            ...            ...
27771   600000.0  460935.964507  139064.035493
27782   650000.0  502342.851123  147657.148877
27787   670000.0  460843.313628  209156.686372
27794   985000.0  478872.079528  506127.920472
27795   788000.0  476608.934528  311391.065472
27802   752000.0  460448.186903  291551.813097
27804   705000.0  459578.449067  245421.550933
27819   578000.0  442072.779420  135927.220580
27820   735000.0  508092.463665  226907.536335
27843   700000.0  476628.762276  223371.237724
27863   670000.0  513100.720803  156899.279197
27864   870000.0  539574.058886  330425.941114
27869   633000.0  509294.610705  123705.389295
27870   635000.0  473823.400343  161176.599657
27873   770000.0  468379.371855  301620.628145
27877   718000.0  527269.258242  190730.741758
27879   835000.0  439992.835016  395007.164984
27880   600000.0  403698.111863  196301.888137
27881   650000.0  534687.586944  115312.413056
27889   635000.0  484958.674895  150041.325105
27892   760000.0  442198.965981  317801.034019
27904   765000.0  459666.109358  305333.890642
27914   620000.0  402207.269092  217792.730908
27915   660000.0  470073.838863  189926.161137
27918   570000.0  434290.740270  135709.259730
27921   600000.0  421677.929597  178322.070403
27922   758000.0  473367.916015  284632.083985
27934   588000.0  436950.017230  151049.982770
27943   595000.0  445404.948780  149595.051220
27947   570000.0  446482.117279  123517.882721

[5065 rows x 3 columns]

In [45]:
result1_df[result1_df['difference'] < -100000]

         actual        predict     difference
106    243000.0  349846.024896 -106846.024896
211    320000.0  423615.970955 -103615.970955
314    225000.0  328762.373195 -103762.373195
449    272000.0  372687.386202 -100687.386202
466    310000.0  410229.099618 -100229.099618
470    230000.0  332798.703549 -102798.703549
488    240000.0  350176.790532 -110176.790532
542    266000.0  368591.893980 -102591.893980
612    250000.0  352819.767528 -102819.767528
712    242000.0  346887.156917 -104887.156917
737    240000.0  343332.440578 -103332.440578
875    278000.0  426665.431150 -148665.431150
972    220000.0  323787.861790 -103787.861790
1005   269000.0  392272.778303 -123272.778303
1093   315000.0  421115.364684 -106115.364684
1196   196000.0  298328.935232 -102328.935232
1230   280000.0  382631.163929 -102631.163929
1267   240000.0  365219.944642 -125219.944642
1279   240000.0  357913.210351 -117913.210351
1744   345000.0  447315.173924 -102315.173924
1765   355000.0  455402.658611 -100402.658611
1887   235000.0  345000.604570 -110000.604570
1978   238000.0  343752.093039 -105752.093039
2215   200000.0  317231.430433 -117231.430433
2291   275000.0  377625.105584 -102625.105584
2308   280000.0  381896.242146 -101896.242146
2336   220000.0  339260.930379 -119260.930379
2352   305000.0  419414.920038 -114414.920038
2413   240000.0  360270.796595 -120270.796595
2437   220000.0  348978.694985 -128978.694985
...         ...            ...            ...
26169  215000.0  351762.690659 -136762.690659
26264  271000.0  408314.359185 -137314.359185
26339  240000.0  350261.017224 -110261.017224
26408  230000.0  332296.505494 -102296.505494
26424  221000.0  357601.257224 -136601.257224
26476  256000.0  356932.659940 -100932.659940
26640  250000.0  352773.562395 -102773.562395
26670  302000.0  408700.031955 -106700.031955
26713  238000.0  358893.595058 -120893.595058
26737  338000.0  441634.212203 -103634.212203
26742  260000.0  368346.727079 -108346.727079
26746  390000.0  493501.262627 -103501.262627
26886  250000.0  356342.346615 -106342.346615
26960  195000.0  338919.721681 -143919.721681
27055  240000.0  374685.978370 -134685.978370
27082  258000.0  360092.734164 -102092.734164
27103  260000.0  376025.368453 -116025.368453
27114  195000.0  357673.951822 -162673.951822
27116  235000.0  350998.937472 -115998.937472
27127  252000.0  379729.908372 -127729.908372
27151  320000.0  424612.318318 -104612.318318
27216  265000.0  365130.394927 -100130.394927
27303  345000.0  446933.618199 -101933.618199
27372  210000.0  315745.835542 -105745.835542
27580  245000.0  345362.792753 -100362.792753
27587  270000.0  375284.132695 -105284.132695
27596  278000.0  379189.283306 -101189.283306
27657  343000.0  448311.504184 -105311.504184
27756  225000.0  333553.614273 -108553.614273
27789  210000.0  313774.824429 -103774.824429

[427 rows x 3 columns]

In [46]:
#If we take resale flat from 2000-2012, you can see the model does very poorly with this set

resaleflat_new = pd.read_csv('resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')

resaleflat_new.month = resaleflat_new.month.apply(lambda x: float(x[0:4])+float(x[5:7])/12)
#Inpute missing values with remaining lease (take current year-month minus the lease start year)
resaleflat_new['remaining_lease'] = resaleflat_new['month'] - resaleflat_new['lease_commence_date']

#Normalize the month, floor area and remaining lease (timeframe)
resaleflat_new.month = (resaleflat_new.month - resaleflat_new.month.mean()) / resaleflat_new.month.std()
resaleflat_new.floor_area_sqm = (resaleflat_new.floor_area_sqm - resaleflat_new.floor_area_sqm.mean()) / resaleflat_new.floor_area_sqm.std()
resaleflat_new.remaining_lease = (resaleflat_new.remaining_lease - resaleflat_new.remaining_lease.mean()) / resaleflat_new.remaining_lease.std()

resaleflat_new = resaleflat_new.drop(columns=['block','lease_commence_date','street_name','flat_type'])

all_flat_model = pd.get_dummies(resaleflat_new['flat_model'], prefix='flt')
all_towns = pd.get_dummies(resaleflat_new['town'], prefix='st')

resaleflat_new = resaleflat_new.drop(columns=['flat_model','town'])
resaleflat_new = pd.concat((resaleflat_new,all_flat_model,all_towns), axis=1)

#Get average of storey range e.g. 01 to 03 would be 2
resaleflat_new.storey_range = resaleflat_new.storey_range.apply(lambda x: (float(x[0:2]) + float(x[7:9]) ) /2 )

resaleflat_new.storey_range = (resaleflat_new.storey_range - resaleflat_new.storey_range.mean()) / resaleflat_new.storey_range.std()