In [1]:
import numpy as np
import pandas as pd

In [2]:
resaleflat1 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
#resaleflat2 = pd.read_csv('resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')
resaleflat3 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')
resaleflat4 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')
resaleflat = pd.concat((resaleflat1,resaleflat3,resaleflat4), axis=0, sort=True)

resaleflat_l = resaleflat.copy()
resaleflatview = resaleflat1.copy()

In [3]:
resaleflat.head()

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town
0,406,Improved,2 ROOM,44.0,1979,2017-01,61 years 04 months,232000.0,10 TO 12,ANG MO KIO AVE 10,ANG MO KIO
1,108,New Generation,3 ROOM,67.0,1978,2017-01,60 years 07 months,250000.0,01 TO 03,ANG MO KIO AVE 4,ANG MO KIO
2,602,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,262000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO
3,465,New Generation,3 ROOM,68.0,1980,2017-01,62 years 01 month,265000.0,04 TO 06,ANG MO KIO AVE 10,ANG MO KIO
4,601,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,265000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO

In [4]:
resaleflat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139788 entries, 0 to 37152
Data columns (total 11 columns):
block                  139788 non-null object
flat_model             139788 non-null object
flat_type              139788 non-null object
floor_area_sqm         139788 non-null float64
lease_commence_date    139788 non-null int64
month                  139788 non-null object
remaining_lease        87585 non-null object
resale_price           139788 non-null float64
storey_range           139788 non-null object
street_name            139788 non-null object
town                   139788 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 12.8+ MB

In [5]:
resaleflat.isnull().sum()

#Remaining lease has a lot of null, need to fix

block                      0
flat_model                 0
flat_type                  0
floor_area_sqm             0
lease_commence_date        0
month                      0
remaining_lease        52203
resale_price               0
storey_range               0
street_name                0
town                       0
dtype: int64

# We had to convert categorical to numerical first to see correlations, now we redo the table using onehotencoding

In [6]:
resaleflat_l.head()

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town
0,406,Improved,2 ROOM,44.0,1979,2017-01,61 years 04 months,232000.0,10 TO 12,ANG MO KIO AVE 10,ANG MO KIO
1,108,New Generation,3 ROOM,67.0,1978,2017-01,60 years 07 months,250000.0,01 TO 03,ANG MO KIO AVE 4,ANG MO KIO
2,602,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,262000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO
3,465,New Generation,3 ROOM,68.0,1980,2017-01,62 years 01 month,265000.0,04 TO 06,ANG MO KIO AVE 10,ANG MO KIO
4,601,New Generation,3 ROOM,67.0,1980,2017-01,62 years 05 months,265000.0,01 TO 03,ANG MO KIO AVE 5,ANG MO KIO

In [7]:
#Convert first two char into integer for years left
resaleflat_l['remaining_lease_year'] = resaleflat_l['remaining_lease'].str.slice(stop=2).astype('float')
#Substring/slice the month out
resaleflat_l['remaining_lease_month'] = resaleflat_l['remaining_lease'].str.slice(start=9,stop=12)

replacemonth = {}
replacemonth[''] = 0
replacemonth['0 m'] = 0
resaleflat_l['remaining_lease_month'] = resaleflat_l['remaining_lease_month'].replace(replacemonth)

resaleflat_l['remaining_lease_month'] = resaleflat_l['remaining_lease_month'].astype('float') / 12
resaleflat_l['remaining_lease'] = resaleflat_l['remaining_lease_year'] + resaleflat_l['remaining_lease_month']
resaleflat_l = resaleflat_l.drop(['remaining_lease_year','remaining_lease_month'], axis=1)

resaleflat_l.month = resaleflat_l.month.apply(lambda x: float(x[0:4])+float(x[5:7])/12)
#Inpute missing values with remaining lease (take current year-month minus the lease start year)
resaleflat_l.remaining_lease[resaleflat_l.remaining_lease.isnull()] = resaleflat_l['month'] - resaleflat_l['lease_commence_date']

#Normalize the month, floor area and remaining lease (timeframe)
resaleflat_l.month = (resaleflat_l.month - resaleflat_l.month.mean()) / resaleflat_l.month.std()
resaleflat_l.floor_area_sqm = (resaleflat_l.floor_area_sqm - resaleflat_l.floor_area_sqm.mean()) / resaleflat_l.floor_area_sqm.std()
resaleflat_l.remaining_lease = (resaleflat_l.remaining_lease - resaleflat_l.remaining_lease.mean()) / resaleflat_l.remaining_lease.std()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
#Blocks in Singapore is rather irregular and does not impact on the pricing
#Lease commence date is highly correlated with remaining lease as remaining lease = current date - lease commence date

#Try using street name (high variation) instead of town now, both are highly correlated so just use one

resaleflat_l = resaleflat_l.drop(columns=['block','lease_commence_date','town','flat_type'])

In [9]:
resaleflat_l.head()

,flat_model,floor_area_sqm,month,remaining_lease,resale_price,storey_range,street_name
0,Improved,-2.163608,0.540959,0.710285,232000.0,10 TO 12,ANG MO KIO AVE 10
1,New Generation,-1.225543,0.540959,0.681966,250000.0,01 TO 03,ANG MO KIO AVE 4
2,New Generation,-1.225543,0.540959,0.751191,262000.0,01 TO 03,ANG MO KIO AVE 5
3,New Generation,-1.184757,0.540959,0.738605,265000.0,04 TO 06,ANG MO KIO AVE 10
4,New Generation,-1.225543,0.540959,0.751191,265000.0,01 TO 03,ANG MO KIO AVE 5

In [10]:
all_flat_model = pd.get_dummies(resaleflat_l['flat_model'], prefix='flt')
all_streets = pd.get_dummies(resaleflat_l['street_name'], prefix='st')

resaleflat_l = resaleflat_l.drop(columns=['flat_model','street_name'])
resaleflat_l = pd.concat((resaleflat_l,all_flat_model,all_streets), axis=1)

In [11]:
resaleflat_l.storey_range.unique()

array(['10 TO 12', '01 TO 03', '04 TO 06', '07 TO 09', '13 TO 15',
       '19 TO 21', '22 TO 24', '16 TO 18', '34 TO 36', '28 TO 30',
       '37 TO 39', '49 TO 51', '25 TO 27', '40 TO 42', '31 TO 33',
       '46 TO 48', '43 TO 45', '06 TO 10', '01 TO 05', '11 TO 15',
       '16 TO 20', '21 TO 25', '26 TO 30', '36 TO 40', '31 TO 35'],
      dtype=object)

In [12]:
#Get average of storey range e.g. 01 to 03 would be 2
resaleflat_l.storey_range = resaleflat_l.storey_range.apply(lambda x: (float(x[0:2]) + float(x[7:9]) ) /2 )

resaleflat_l.storey_range = (resaleflat_l.storey_range - resaleflat_l.storey_range.mean()) / resaleflat_l.storey_range.std()

In [13]:
storey_resales = resaleflat_l[['storey_range','resale_price']]
storey_resales.corr()

#Storey range has correlation of 0.30 with resale price

              storey_range  resale_price
storey_range      1.000000      0.303071
resale_price      0.303071      1.000000

In [14]:
lease_resales = resaleflat_l[['remaining_lease','resale_price']]
lease_resales.corr()

#Remaining lease only has -0.067 correlation with resale price

                 remaining_lease  resale_price
remaining_lease           1.0000       -0.0671
resale_price             -0.0671        1.0000

In [15]:
month_resales = resaleflat_l[['month','resale_price']]
month_resales.corr()

#Year/month bought (month) has -0.07 correlation with resale price

                 month  resale_price
month         1.000000     -0.073186
resale_price -0.073186      1.000000

In [16]:
floor_resales = resaleflat_l[['floor_area_sqm','resale_price']]
floor_resales.corr()

#Floor area SQM has 0.667 correlation with resale price, very high!

                floor_area_sqm  resale_price
floor_area_sqm        1.000000      0.667404
resale_price          0.667404      1.000000

In [17]:
resaleflat_l.head()

,floor_area_sqm,month,remaining_lease,resale_price,storey_range,flt_2-room,flt_Adjoined flat,flt_Apartment,flt_DBSS,flt_Improved,...,st_YISHUN ST 71,st_YISHUN ST 72,st_YISHUN ST 81,st_YUAN CHING RD,st_YUNG AN RD,st_YUNG HO RD,st_YUNG LOH RD,st_YUNG PING RD,st_YUNG SHENG RD,st_ZION RD
0,-2.163608,0.540959,0.710285,232000.0,-0.030180,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,-1.225543,0.540959,0.681966,250000.0,-1.370113,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1.225543,0.540959,0.751191,262000.0,-1.370113,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1.184757,0.540959,0.738605,265000.0,-0.365163,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1.225543,0.540959,0.751191,265000.0,-1.370113,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
resaleflat_l.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139788 entries, 0 to 37152
Columns: 562 entries, floor_area_sqm to st_ZION RD
dtypes: float64(5), uint8(557)
memory usage: 80.7 MB

In [19]:
resaleflat_l.sum().index.values

array(['floor_area_sqm', 'month', 'remaining_lease', 'resale_price',
       'storey_range', 'flt_2-room', 'flt_Adjoined flat', 'flt_Apartment',
       'flt_DBSS', 'flt_Improved', 'flt_Improved-Maisonette',
       'flt_Maisonette', 'flt_Model A', 'flt_Model A-Maisonette',
       'flt_Model A2', 'flt_Multi Generation', 'flt_New Generation',
       'flt_Premium Apartment', 'flt_Premium Apartment Loft',
       'flt_Premium Apartment.', 'flt_Premium Maisonette',
       'flt_Simplified', 'flt_Standard', 'flt_Terrace', 'flt_Type S1',
       'flt_Type S2', 'st_ADMIRALTY DR', 'st_ADMIRALTY LINK',
       'st_AH HOOD RD', 'st_ALJUNIED CRES', 'st_ALJUNIED RD',
       'st_ANCHORVALE CRES', 'st_ANCHORVALE DR', 'st_ANCHORVALE LANE',
       'st_ANCHORVALE LINK', 'st_ANCHORVALE RD', 'st_ANG MO KIO AVE 1',
       'st_ANG MO KIO AVE 10', 'st_ANG MO KIO AVE 2',
       'st_ANG MO KIO AVE 3', 'st_ANG MO KIO AVE 4',
       'st_ANG MO KIO AVE 5', 'st_ANG MO KIO AVE 6',
       'st_ANG MO KIO AVE 8', 'st_ANG MO KIO AVE 9',
       'st_ANG MO KIO ST 11', 'st_ANG MO KIO ST 21',
       'st_ANG MO KIO ST 31', 'st_ANG MO KIO ST 32',
       'st_ANG MO KIO ST 52', 'st_BAIN ST', 'st_BALAM RD',
       'st_BANGKIT RD', 'st_BEACH RD', 'st_BEDOK CTRL',
       'st_BEDOK NTH AVE 1', 'st_BEDOK NTH AVE 2', 'st_BEDOK NTH AVE 3',
       'st_BEDOK NTH AVE 4', 'st_BEDOK NTH RD', 'st_BEDOK NTH ST 1',
       'st_BEDOK NTH ST 2', 'st_BEDOK NTH ST 3', 'st_BEDOK NTH ST 4',
       'st_BEDOK RESERVOIR RD', 'st_BEDOK RESERVOIR VIEW',
       'st_BEDOK STH AVE 1', 'st_BEDOK STH AVE 2', 'st_BEDOK STH AVE 3',
       'st_BEDOK STH RD', 'st_BENDEMEER RD', 'st_BEO CRES',
       'st_BISHAN ST 11', 'st_BISHAN ST 12', 'st_BISHAN ST 13',
       'st_BISHAN ST 22', 'st_BISHAN ST 23', 'st_BISHAN ST 24',
       'st_BOON KENG RD', 'st_BOON LAY AVE', 'st_BOON LAY DR',
       'st_BOON LAY PL', 'st_BOON TIONG RD', 'st_BRIGHT HILL DR',
       'st_BT BATOK CTRL', 'st_BT BATOK EAST AVE 3',
       'st_BT BATOK EAST AVE 4', 'st_BT BATOK EAST AVE 5',
       'st_BT BATOK ST 11', 'st_BT BATOK ST 21', 'st_BT BATOK ST 22',
       'st_BT BATOK ST 24', 'st_BT BATOK ST 25', 'st_BT BATOK ST 31',
       'st_BT BATOK ST 32', 'st_BT BATOK ST 33', 'st_BT BATOK ST 34',
       'st_BT BATOK ST 51', 'st_BT BATOK ST 52', 'st_BT BATOK WEST AVE 2',
       'st_BT BATOK WEST AVE 4', 'st_BT BATOK WEST AVE 5',
       'st_BT BATOK WEST AVE 6', 'st_BT BATOK WEST AVE 7',
       'st_BT BATOK WEST AVE 8', 'st_BT MERAH CTRL', 'st_BT MERAH LANE 1',
       'st_BT MERAH VIEW', 'st_BT PANJANG RING RD', 'st_BT PURMEI RD',
       'st_BUANGKOK CRES', 'st_BUANGKOK GREEN', 'st_BUANGKOK LINK',
       'st_BUFFALO RD', "st_C'WEALTH AVE", "st_C'WEALTH AVE WEST",
       "st_C'WEALTH CL", "st_C'WEALTH CRES", "st_C'WEALTH DR",
       'st_CAMBRIDGE RD', 'st_CANBERRA LINK', 'st_CANBERRA RD',
       'st_CANTONMENT CL', 'st_CANTONMENT RD', 'st_CASHEW RD',
       'st_CASSIA CRES', 'st_CHAI CHEE AVE', 'st_CHAI CHEE DR',
       'st_CHAI CHEE RD', 'st_CHAI CHEE ST', 'st_CHANDER RD',
       'st_CHANGI VILLAGE RD', 'st_CHIN SWEE RD',
       'st_CHOA CHU KANG AVE 1', 'st_CHOA CHU KANG AVE 2',
       'st_CHOA CHU KANG AVE 3', 'st_CHOA CHU KANG AVE 4',
       'st_CHOA CHU KANG AVE 5', 'st_CHOA CHU KANG CRES',
       'st_CHOA CHU KANG CTRL', 'st_CHOA CHU KANG DR',
       'st_CHOA CHU KANG LOOP', 'st_CHOA CHU KANG NTH 5',
       'st_CHOA CHU KANG NTH 6', 'st_CHOA CHU KANG NTH 7',
       'st_CHOA CHU KANG ST 51', 'st_CHOA CHU KANG ST 52',
       'st_CHOA CHU KANG ST 53', 'st_CHOA CHU KANG ST 54',
       'st_CHOA CHU KANG ST 62', 'st_CHOA CHU KANG ST 64',
       'st_CIRCUIT RD', 'st_CLARENCE LANE', 'st_CLEMENTI AVE 1',
       'st_CLEMENTI AVE 2', 'st_CLEMENTI AVE 3', 'st_CLEMENTI AVE 4',
       'st_CLEMENTI AVE 5', 'st_CLEMENTI AVE 6', 'st_CLEMENTI ST 11',
       'st_CLEMENTI ST 12', 'st_CLEMENTI ST 13', 'st_CLEMENTI ST 14',
       'st_CLEMENTI WEST ST 1', 'st_CLEMENTI WEST ST 2',
       'st_COMPASSVALE BOW', 'st_COMPASSVALE CRES', 'st_COMPASSVALE DR',
       'st_COMPASSVALE LANE', 'st_COMPASSVALE LINK', 'st_COMPASSVALE RD',
       'st_COMPASSVALE ST', 'st_COMPASSVALE WALK', 'st_CORPORATION DR',
       'st_CRAWFORD LANE', 'st_DAKOTA CRES', 'st_DELTA AVE',
       'st_DEPOT RD', 'st_DORSET RD', 'st_DOVER CL EAST', 'st_DOVER CRES',
       'st_DOVER RD', 'st_EDGEDALE PLAINS', 'st_EDGEFIELD PLAINS',
       'st_ELIAS RD', 'st_EMPRESS RD', 'st_EUNOS CRES', 'st_EUNOS RD 5',
       'st_EVERTON PK', 'st_FAJAR RD', 'st_FARRER PK RD', 'st_FARRER RD',
       'st_FERNVALE LANE', 'st_FERNVALE LINK', 'st_FERNVALE RD',
       'st_FRENCH RD', 'st_GANGSA RD', 'st_GEYLANG BAHRU',
       'st_GEYLANG EAST AVE 1', 'st_GEYLANG EAST CTRL',
       'st_GEYLANG SERAI', 'st_GHIM MOH LINK', 'st_GHIM MOH RD',
       'st_GLOUCESTER RD', 'st_HAIG RD', 'st_HAVELOCK RD',
       'st_HENDERSON CRES', 'st_HO CHING RD', 'st_HOLLAND AVE',
       'st_HOLLAND CL', 'st_HOLLAND DR', 'st_HOUGANG AVE 1',
       'st_HOUGANG AVE 10', 'st_HOUGANG AVE 2', 'st_HOUGANG AVE 3',
       'st_HOUGANG AVE 4', 'st_HOUGANG AVE 5', 'st_HOUGANG AVE 6',
       'st_HOUGANG AVE 7', 'st_HOUGANG AVE 8', 'st_HOUGANG AVE 9',
       'st_HOUGANG CTRL', 'st_HOUGANG ST 11', 'st_HOUGANG ST 21',
       'st_HOUGANG ST 22', 'st_HOUGANG ST 31', 'st_HOUGANG ST 51',
       'st_HOUGANG ST 52', 'st_HOUGANG ST 61', 'st_HOUGANG ST 91',
       'st_HOUGANG ST 92', 'st_HOY FATT RD', 'st_INDUS RD',
       'st_JELAPANG RD', 'st_JELEBU RD', 'st_JELLICOE RD',
       'st_JLN BAHAGIA', 'st_JLN BATU', 'st_JLN BERSEH',
       'st_JLN BT HO SWEE', 'st_JLN BT MERAH', 'st_JLN DAMAI',
       'st_JLN DUA', 'st_JLN DUSUN', 'st_JLN KAYU', 'st_JLN KLINIK',
       'st_JLN KUKOH', "st_JLN MA'MOR", 'st_JLN MEMBINA', 'st_JLN RAJAH',
       'st_JLN RUMAH TINGGI', 'st_JLN TECK WHYE', 'st_JLN TENAGA',
       'st_JLN TENTERAM', 'st_JLN TIGA', 'st_JOO CHIAT RD',
       'st_JOO SENG RD', 'st_JURONG EAST AVE 1', 'st_JURONG EAST ST 13',
       'st_JURONG EAST ST 21', 'st_JURONG EAST ST 24',
       'st_JURONG EAST ST 31', 'st_JURONG EAST ST 32',
       'st_JURONG WEST AVE 1', 'st_JURONG WEST AVE 3',
       'st_JURONG WEST AVE 5', 'st_JURONG WEST CTRL 1',
       'st_JURONG WEST ST 24', 'st_JURONG WEST ST 25',
       'st_JURONG WEST ST 41', 'st_JURONG WEST ST 42',
       'st_JURONG WEST ST 51', 'st_JURONG WEST ST 52',
       'st_JURONG WEST ST 61', 'st_JURONG WEST ST 62',
       'st_JURONG WEST ST 64', 'st_JURONG WEST ST 65',
       'st_JURONG WEST ST 71', 'st_JURONG WEST ST 72',
       'st_JURONG WEST ST 73', 'st_JURONG WEST ST 74',
       'st_JURONG WEST ST 75', 'st_JURONG WEST ST 81',
       'st_JURONG WEST ST 91', 'st_JURONG WEST ST 92',
       'st_JURONG WEST ST 93', 'st_KALLANG BAHRU', 'st_KANG CHING RD',
       'st_KELANTAN RD', 'st_KENT RD', 'st_KG ARANG RD', 'st_KG KAYU RD',
       'st_KIM CHENG ST', 'st_KIM KEAT AVE', 'st_KIM KEAT LINK',
       'st_KIM PONG RD', 'st_KIM TIAN PL', 'st_KIM TIAN RD',
       "st_KING GEORGE'S AVE", 'st_KLANG LANE', 'st_KRETA AYER RD',
       'st_LENGKOK BAHRU', 'st_LENGKONG TIGA', 'st_LIM LIAK ST',
       'st_LOMPANG RD', 'st_LOR 1 TOA PAYOH', 'st_LOR 1A TOA PAYOH',
       'st_LOR 2 TOA PAYOH', 'st_LOR 3 GEYLANG', 'st_LOR 3 TOA PAYOH',
       'st_LOR 4 TOA PAYOH', 'st_LOR 5 TOA PAYOH', 'st_LOR 6 TOA PAYOH',
       'st_LOR 7 TOA PAYOH', 'st_LOR 8 TOA PAYOH', 'st_LOR AH SOO',
       'st_LOR LEW LIAN', 'st_LOR LIMAU', 'st_LOWER DELTA RD',
       'st_MACPHERSON LANE', 'st_MARINE CRES', 'st_MARINE DR',
       'st_MARINE PARADE CTRL', 'st_MARINE TER', 'st_MARSILING CRES',
       'st_MARSILING DR', 'st_MARSILING LANE', 'st_MARSILING RD',
       'st_MARSILING RISE', 'st_MCNAIR RD', 'st_MEI LING ST',
       'st_MOH GUAN TER', 'st_MONTREAL DR', 'st_MONTREAL LINK',
       'st_MOULMEIN RD', 'st_NEW MKT RD', 'st_NEW UPP CHANGI RD',
       'st_NTH BRIDGE RD', 'st_OLD AIRPORT RD', 'st_OWEN RD',
       'st_PANDAN GDNS', 'st_PASIR RIS DR 1', 'st_PASIR RIS DR 10',
       'st_PASIR RIS DR 3', 'st_PASIR RIS DR 4', 'st_PASIR RIS DR 6',
       'st_PASIR RIS ST 11', 'st_PASIR RIS ST 12', 'st_PASIR RIS ST 13',
       'st_PASIR RIS ST 21', 'st_PASIR RIS ST 41', 'st_PASIR RIS ST 51',
       'st_PASIR RIS ST 52', 'st_PASIR RIS ST 53', 'st_PASIR RIS ST 71',
       'st_PASIR RIS ST 72', 'st_PAYA LEBAR WAY', 'st_PENDING RD',
       'st_PETIR RD', 'st_PINE CL', 'st_PIPIT RD',
       'st_POTONG PASIR AVE 1', 'st_POTONG PASIR AVE 2',
       'st_POTONG PASIR AVE 3', 'st_PUNGGOL CTRL', 'st_PUNGGOL DR',
       'st_PUNGGOL EAST', 'st_PUNGGOL FIELD', 'st_PUNGGOL FIELD WALK',
       'st_PUNGGOL PL', 'st_PUNGGOL RD', 'st_PUNGGOL WALK',
       'st_PUNGGOL WAY', 'st_QUEEN ST', "st_QUEEN'S CL", "st_QUEEN'S RD",
       'st_QUEENSWAY', 'st_RACE COURSE RD', 'st_REDHILL CL',
       'st_REDHILL LANE', 'st_REDHILL RD', 'st_RIVERVALE CRES',
       'st_RIVERVALE DR', 'st_RIVERVALE ST', 'st_RIVERVALE WALK',
       'st_ROWELL RD', 'st_SAGO LANE', 'st_SAUJANA RD', 'st_SEGAR RD',
       'st_SELEGIE RD', 'st_SEMBAWANG CL', 'st_SEMBAWANG CRES',
       'st_SEMBAWANG DR', 'st_SEMBAWANG VISTA', 'st_SEMBAWANG WAY',
       'st_SENG POH RD', 'st_SENGKANG CTRL', 'st_SENGKANG EAST AVE',
       'st_SENGKANG EAST RD', 'st_SENGKANG EAST WAY',
       'st_SENGKANG WEST AVE', 'st_SENGKANG WEST WAY', 'st_SENJA LINK',
       'st_SENJA RD', 'st_SERANGOON AVE 1', 'st_SERANGOON AVE 2',
       'st_SERANGOON AVE 3', 'st_SERANGOON AVE 4', 'st_SERANGOON CTRL',
       'st_SERANGOON CTRL DR', 'st_SERANGOON NTH AVE 1',
       'st_SERANGOON NTH AVE 2', 'st_SERANGOON NTH AVE 3',
       'st_SERANGOON NTH AVE 4', 'st_SHUNFU RD', 'st_SILAT AVE',
       'st_SIMEI LANE', 'st_SIMEI RD', 'st_SIMEI ST 1', 'st_SIMEI ST 2',
       'st_SIMEI ST 4', 'st_SIMEI ST 5', 'st_SIMS AVE', 'st_SIMS DR',
       'st_SIMS PL', 'st_SIN MING AVE', 'st_SIN MING RD', 'st_SMITH ST',
       'st_SPOTTISWOODE PK RD', "st_ST. GEORGE'S LANE",
       "st_ST. GEORGE'S RD", 'st_STIRLING RD', 'st_STRATHMORE AVE',
       'st_SUMANG LINK', 'st_TAH CHING RD', 'st_TAMAN HO SWEE',
       'st_TAMPINES AVE 4', 'st_TAMPINES AVE 5', 'st_TAMPINES AVE 7',
       'st_TAMPINES AVE 8', 'st_TAMPINES AVE 9', 'st_TAMPINES CTRL 1',
       'st_TAMPINES CTRL 7', 'st_TAMPINES ST 11', 'st_TAMPINES ST 12',
       'st_TAMPINES ST 21', 'st_TAMPINES ST 22', 'st_TAMPINES ST 23',
       'st_TAMPINES ST 24', 'st_TAMPINES ST 32', 'st_TAMPINES ST 33',
       'st_TAMPINES ST 34', 'st_TAMPINES ST 41', 'st_TAMPINES ST 42',
       'st_TAMPINES ST 43', 'st_TAMPINES ST 44', 'st_TAMPINES ST 45',
       'st_TAMPINES ST 71', 'st_TAMPINES ST 72', 'st_TAMPINES ST 81',
       'st_TAMPINES ST 82', 'st_TAMPINES ST 83', 'st_TAMPINES ST 84',
       'st_TAMPINES ST 91', 'st_TANGLIN HALT RD', 'st_TAO CHING RD',
       'st_TEBAN GDNS RD', 'st_TECK WHYE AVE', 'st_TECK WHYE CRES',
       'st_TECK WHYE LANE', 'st_TELOK BLANGAH CRES',
       'st_TELOK BLANGAH DR', 'st_TELOK BLANGAH HTS',
       'st_TELOK BLANGAH RISE', 'st_TELOK BLANGAH ST 31',
       'st_TELOK BLANGAH WAY', 'st_TESSENSOHN RD', 'st_TG PAGAR PLAZA',
       'st_TIONG BAHRU RD', 'st_TOA PAYOH CTRL', 'st_TOA PAYOH EAST',
       'st_TOA PAYOH NTH', 'st_TOH GUAN RD', 'st_TOH YI DR',
       'st_TOWNER RD', 'st_UBI AVE 1', 'st_UPP ALJUNIED LANE',
       'st_UPP BOON KENG RD', 'st_UPP CROSS ST', 'st_UPP SERANGOON CRES',
       'st_UPP SERANGOON RD', 'st_VEERASAMY RD', 'st_WATERLOO ST',
       'st_WELLINGTON CIRCLE', 'st_WEST COAST DR', 'st_WEST COAST RD',
       'st_WHAMPOA DR', 'st_WHAMPOA RD', 'st_WHAMPOA STH',
       'st_WHAMPOA WEST', 'st_WOODLANDS AVE 1', 'st_WOODLANDS AVE 3',
       'st_WOODLANDS AVE 4', 'st_WOODLANDS AVE 5', 'st_WOODLANDS AVE 6',
       'st_WOODLANDS AVE 9', 'st_WOODLANDS CIRCLE', 'st_WOODLANDS CRES',
       'st_WOODLANDS CTR RD', 'st_WOODLANDS DR 14', 'st_WOODLANDS DR 16',
       'st_WOODLANDS DR 40', 'st_WOODLANDS DR 42', 'st_WOODLANDS DR 44',
       'st_WOODLANDS DR 50', 'st_WOODLANDS DR 52', 'st_WOODLANDS DR 53',
       'st_WOODLANDS DR 60', 'st_WOODLANDS DR 62', 'st_WOODLANDS DR 70',
       'st_WOODLANDS DR 71', 'st_WOODLANDS DR 72', 'st_WOODLANDS DR 73',
       'st_WOODLANDS DR 75', 'st_WOODLANDS RING RD', 'st_WOODLANDS ST 11',
       'st_WOODLANDS ST 13', 'st_WOODLANDS ST 31', 'st_WOODLANDS ST 32',
       'st_WOODLANDS ST 41', 'st_WOODLANDS ST 81', 'st_WOODLANDS ST 82',
       'st_WOODLANDS ST 83', 'st_YISHUN AVE 1', 'st_YISHUN AVE 11',
       'st_YISHUN AVE 2', 'st_YISHUN AVE 3', 'st_YISHUN AVE 4',
       'st_YISHUN AVE 5', 'st_YISHUN AVE 6', 'st_YISHUN AVE 7',
       'st_YISHUN AVE 9', 'st_YISHUN CTRL', 'st_YISHUN CTRL 1',
       'st_YISHUN RING RD', 'st_YISHUN ST 11', 'st_YISHUN ST 20',
       'st_YISHUN ST 21', 'st_YISHUN ST 22', 'st_YISHUN ST 31',
       'st_YISHUN ST 41', 'st_YISHUN ST 61', 'st_YISHUN ST 71',
       'st_YISHUN ST 72', 'st_YISHUN ST 81', 'st_YUAN CHING RD',
       'st_YUNG AN RD', 'st_YUNG HO RD', 'st_YUNG LOH RD',
       'st_YUNG PING RD', 'st_YUNG SHENG RD', 'st_ZION RD'], dtype=object)

In [20]:
#from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [21]:
#Seperate datasets

X = resaleflat_l.drop('resale_price', axis=1)
Y = resaleflat_l['resale_price']

print(X.shape)
print(Y.shape)

(139788, 561)
(139788,)

In [22]:
#Choose top 400 features for model out of 561

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

X = SelectKBest(f_classif, k=400).fit_transform(X, Y)

In [23]:
print(X.shape)

(139788, 400)

In [24]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Linear Regression

In [25]:
linReg = LinearRegression()
linReg.fit(x_train,y_train)
pred_linReg = linReg.predict(x_test)

In [26]:
pred_linReg

array([314005.24205482, 476743.94637444, 370693.22083094, ...,
       238478.76841561, 408044.47695634, 423508.12185725])

In [27]:
y_test.head()

1040     308000.0
913      460000.0
13013    381000.0
40489    750000.0
10215    480000.0
Name: resale_price, dtype: float64

In [28]:
(y_test - pred_linReg).head()

1040     -6005.242055
913     -16743.946374
13013    10306.779169
40489    11206.061714
10215    -9694.035030
Name: resale_price, dtype: float64

In [29]:
#Let's see how our model performed

import math

math.sqrt(mean_squared_error(y_test, pred_linReg, multioutput='uniform_average'))

51868.70243770968

In [30]:
#Find RMSE for baseline model - i.e. take average house price

base = math.sqrt(((y_test - y_test.mean()) ** 2).mean())

base

#RMSE of $138415 for prediction of house price using average

138415.3257061527

In [31]:
linear_diff = math.sqrt(((y_test - pred_linReg) ** 2).mean())
linear_diff

#RMSE of $51868 using linear regression

51868.70243770962

In [32]:
def RMSE(actual,predict):
    base = math.sqrt(((actual - actual.mean()) ** 2).mean())
    x = math.sqrt(((actual - predict) ** 2).mean())
    return x/base

RMSE(y_test, pred_linReg)

0.37473236560396284

In [33]:
#Get R^2 of prediction, 0.860

linReg.score(x_test,y_test)

0.8595756541688553

In [34]:
y_test.values

array([308000., 460000., 381000., ..., 290000., 310000., 420000.])

In [35]:
pred_linReg

array([314005.24205482, 476743.94637444, 370693.22083094, ...,
       238478.76841561, 408044.47695634, 423508.12185725])

In [36]:
result1 = np.concatenate(([y_test.values], [pred_linReg],[y_test.values - pred_linReg])).T

In [37]:
result1_df = pd.DataFrame(result1, columns=['actual','predict','difference'])

In [38]:
result1_df

         actual        predict    difference
0      308000.0  314005.242055  -6005.242055
1      460000.0  476743.946374 -16743.946374
2      381000.0  370693.220831  10306.779169
3      750000.0  738793.938286  11206.061714
4      480000.0  489694.035030  -9694.035030
5      325000.0  350269.120466 -25269.120466
6      385000.0  357052.301986  27947.698014
7      360000.0  405115.447285 -45115.447285
8      350000.0  348647.830456   1352.169544
9      337000.0  350079.238887 -13079.238887
10     388000.0  414524.171417 -26524.171417
11     350000.0  352000.455781  -2000.455781
12     280000.0  292010.293815 -12010.293815
13     360000.0  383475.169338 -23475.169338
14     300000.0  293422.147452   6577.852548
15     365000.0  350234.952191  14765.047809
16     320000.0  368043.604921 -48043.604921
17     358000.0  344999.356760  13000.643240
18     423000.0  467660.889065 -44660.889065
19     345000.0  328090.622403  16909.377597
20     365000.0  394795.172537 -29795.172537
21     475000.0  477555.072713  -2555.072713
22     415500.0  360314.029516  55185.970484
23     326300.0  357305.260271 -31005.260271
24     451000.0  505493.379359 -54493.379359
25     720000.0  646019.146285  73980.853715
26     688888.0  589544.457828  99343.542172
27     318000.0  333301.270793 -15301.270793
28     332000.0  357778.565713 -25778.565713
29     640000.0  598375.685367  41624.314633
...         ...            ...           ...
27928  278000.0  294209.612380 -16209.612380
27929  220000.0  226238.420887  -6238.420887
27930  290000.0  310515.967571 -20515.967571
27931  350000.0  401773.519473 -51773.519473
27932  550000.0  541218.120422   8781.879578
27933  500000.0  464198.959872  35801.040128
27934  588000.0  599091.925411 -11091.925411
27935  446000.0  443023.010752   2976.989248
27936  278000.0  289883.757003 -11883.757003
27937  403000.0  371473.104402  31526.895598
27938  325000.0  416359.271841 -91359.271841
27939  602000.0  682718.764817 -80718.764817
27940  348888.0  356436.995551  -7548.995551
27941  558000.0  539763.232291  18236.767709
27942  230000.0  236548.245922  -6548.245922
27943  595000.0  556026.105356  38973.894644
27944  350000.0  410175.751008 -60175.751008
27945  438000.0  448471.303674 -10471.303674
27946  375000.0  390804.534179 -15804.534179
27947  570000.0  477131.785607  92868.214393
27948  450000.0  388267.678207  61732.321793
27949  535000.0  596657.036324 -61657.036324
27950  280000.0  229291.387125  50708.612875
27951  350000.0  333378.709368  16621.290632
27952  505000.0  501350.378249   3649.621751
27953  380000.0  344716.538359  35283.461641
27954  365000.0  332603.010507  32396.989493
27955  290000.0  238478.768416  51521.231584
27956  310000.0  408044.476956 -98044.476956
27957  420000.0  423508.121857  -3508.121857

[27958 rows x 3 columns]

In [39]:
print(result1_df['difference'].mean())
print(result1_df['difference'].max())
print(result1_df['difference'].min())

-38.51929928280582
385825.9046530149
-408042.59265664127

In [40]:
result1_df[result1_df['difference'] > 100000]

          actual        predict     difference
54      425000.0  319979.768321  105020.231679
103     818000.0  570700.252157  247299.747843
113     580000.0  467307.762197  112692.237803
182     920000.0  741593.189900  178406.810100
187     910000.0  780867.857048  129132.142952
194     890000.0  766493.183025  123506.816975
212     625000.0  520734.463915  104265.536085
232     808000.0  593818.903365  214181.096635
253     670000.0  564311.868604  105688.131396
291     855000.0  754723.572461  100276.427539
310    1038000.0  881034.142333  156965.857667
311     565000.0  454308.642404  110691.357596
312     680000.0  501210.656013  178789.343987
331     748000.0  621570.197011  126429.802989
361     900000.0  785489.857849  114510.142151
383     649000.0  347481.910868  301518.089132
388     635000.0  524600.644977  110399.355023
454     770000.0  662921.332462  107078.667538
456     720888.0  534919.411560  185968.588440
562     680000.0  575872.841260  104127.158740
641     728000.0  602248.334575  125751.665425
656     566000.0  406788.585717  159211.414283
711     650000.0  338756.195936  311243.804064
782     800000.0  651972.543820  148027.456180
787     590000.0  481107.807596  108892.192404
789     643000.0  536182.568977  106817.431023
904     480000.0  377842.468602  102157.531398
1015    638000.0  535776.040446  102223.959554
1024    803000.0  695457.303014  107542.696986
1039    408000.0  273953.637600  134046.362400
...          ...            ...            ...
27277   413000.0  298123.605607  114876.394393
27287   595000.0  488671.358910  106328.641090
27310   605000.0  368179.871847  236820.128153
27313   608000.0  474564.333454  133435.666546
27332   870000.0  717791.909256  152208.090744
27346   728000.0  560133.626987  167866.373013
27375   739999.0  636714.063695  103284.936305
27389   425000.0  313211.646336  111788.353664
27404   950000.0  634071.299110  315928.700890
27413   378000.0  272874.378299  105125.621701
27429   426000.0  316525.550953  109474.449047
27476   740000.0  622900.218027  117099.781973
27489   648000.0  538461.682807  109538.317193
27498   358000.0  243017.988951  114982.011049
27520   770000.0  628930.496281  141069.503719
27534   690000.0  587969.478673  102030.521327
27541   600000.0  495042.562710  104957.437290
27544   830000.0  622809.381854  207190.618146
27557   643888.0  527890.518304  115997.481696
27606   800000.0  652502.490828  147497.509172
27624   655000.0  548595.915027  106404.084973
27655   785000.0  606266.600128  178733.399872
27742   526000.0  388490.032485  137509.967515
27787   670000.0  550038.562680  119961.437320
27802   752000.0  493419.991669  258580.008331
27820   735000.0  611164.400540  123835.599460
27843   700000.0  563150.209593  136849.790407
27864   870000.0  768424.440850  101575.559150
27915   660000.0  546251.320195  113748.679805
27921   600000.0  489956.519779  110043.480221

[1025 rows x 3 columns]

In [41]:
result1_df[result1_df['difference'] < -100000]

         actual        predict     difference
75     450000.0  553569.596078 -103569.596078
76     400000.0  549088.461962 -149088.461962
78     330000.0  438745.594818 -108745.594818
178    385000.0  521155.945847 -136155.945847
198    373000.0  572778.568913 -199778.568913
211    320000.0  426465.715131 -106465.715131
226    323000.0  423183.343989 -100183.343989
227    523000.0  635965.122290 -112965.122290
246    472000.0  582316.191920 -110316.191920
315    350000.0  518333.133138 -168333.133138
320    368000.0  524170.619951 -156170.619951
340    260000.0  471964.446895 -211964.446895
366    336000.0  481096.334045 -145096.334045
397    310000.0  479723.197944 -169723.197944
403    340000.0  440747.559114 -100747.559114
436    385000.0  518105.817217 -133105.817217
466    310000.0  413364.178476 -103364.178476
488    240000.0  342679.746029 -102679.746029
624    420000.0  529860.966815 -109860.966815
658    490000.0  617158.502376 -127158.502376
660    530000.0  650661.817471 -120661.817471
757    570000.0  751331.039812 -181331.039812
805    385000.0  560953.125657 -175953.125657
844    369000.0  541037.115616 -172037.115616
893    290000.0  406520.965567 -116520.965567
1093   315000.0  432433.761095 -117433.761095
1134   410000.0  516392.556860 -106392.556860
1214   492000.0  597326.676030 -105326.676030
1288   310000.0  452129.235196 -142129.235196
1307   405000.0  587995.839351 -182995.839351
...         ...            ...            ...
26595  420000.0  533538.035771 -113538.035771
26618  335000.0  476480.690096 -141480.690096
26645  303800.0  471799.379087 -167999.379087
26749  538000.0  642647.539273 -104647.539273
26792  393500.0  504289.296595 -110789.296595
26896  317000.0  461109.258093 -144109.258093
26967  280000.0  455642.163371 -175642.163371
27039  308000.0  414793.627454 -106793.627454
27079  485000.0  636193.820634 -151193.820634
27164  394000.0  497971.569041 -103971.569041
27177  345000.0  500153.205362 -155153.205362
27181  400000.0  518401.384900 -118401.384900
27288  535000.0  636626.988410 -101626.988410
27326  470000.0  610564.786625 -140564.786625
27355  328000.0  472260.736001 -144260.736001
27357  330000.0  443254.888261 -113254.888261
27399  432000.0  560921.688852 -128921.688852
27411  395000.0  497797.973470 -102797.973470
27502  378888.0  483755.989458 -104867.989458
27505  490000.0  680031.546453 -190031.546453
27561  420000.0  521581.223235 -101581.223235
27579  600000.0  713615.013559 -113615.013559
27667  475000.0  624045.761610 -149045.761610
27702  295000.0  407606.300544 -112606.300544
27744  278000.0  400453.679293 -122453.679293
27801  358000.0  479364.819270 -121364.819270
27837  368000.0  472129.233014 -104129.233014
27865  320000.0  431293.714979 -111293.714979
27891  340000.0  457798.620423 -117798.620423
27907  385000.0  497532.558462 -112532.558462

[590 rows x 3 columns]

In [42]:
print(linReg.intercept_) #.coef_ for all coefficients
#Base price is $523769

523769.25604362617